@media screen and (min-width: 768px) {
    .temples-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .temples-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1250px;
    }
}